In [2]:
print("Hello")

Hello

In [18]:
import os
os.chdir("/Users/ra67tek/HPC-SS24")
#content_dir = os.listdir()
#column_names = ["Time", "Query", "Reference", "Algorithm"]
#table_results = open("results_table.csv","w")
#table_results.write("\t".join(column_names) + "\n")

#my_file = open("resultsda.txt")
#file_contents = my_file.read()
#all_lines = file_contents.split("\n")

#for line in all_lines:
    #columns = line.replace("; ", "\t")
    #table_results.write(line + "\n")

#table_results.close()

In [19]:
import pandas as pd
#table_results = pd.read_csv("results_table.csv", sep = ";")
#table_results.head(5)

                          Time\tQuery\tReference\tAlgorithm
234  query_1.fa  14624.fa                            Needle
290  query_1.fa  14624.fa                            Needle
433  query_1.fa  23784.fa                            Needle
458  query_1.fa  23784.fa                            Needle
855  query_1.fa  50597.fa                            Needle

In [28]:
results = pd.read_csv("results_combined.csv", sep = ";")
results.columns = ["Time", "Threads", "Query", "Reference", "Algorithm"]
results.to_csv("results1.csv", sep= ";", index=False)
results.head(5)
#results.tail(5)

   Time  Threads  Query  Reference Algorithm
0     5       10      1    1071882     BLAST
1    11        1      1    1071882     BLAST
2     1        5      1     138959     BLAST
3     2        1      1     138959     BLAST
4    10       10      8    1071882     BLAST